# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
ExternalFrameworks/CatchoomSDK.framework
gitignored_files
CatchoomSDK_Examples/ExternalFrameworks/AFNetworking.framework
CatchoomSDK_Examples/ExternalFrameworks/CatchoomSDK.bundle
CatchoomSDK_Examples/ExternalFrameworks/CatchoomSDK.framework
CatchoomSDK_Examples/ExternalFrameworks
CraftARSDK_Examples/ExternalFrameworks/CraftARPods.framework
CraftARSDK_Examples/ExternalFrameworks/CraftARSDK.bundle
CraftARSDK_Examples/ExternalFrameworks/CraftARSDK.framework
CraftARSDK_Examples/ExternalFrameworks/Pods.framework
